<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <h2>AI Expense Tracker</h2>
        <p class="muted">Welcome back</p>

        <form method="post">
            <input type="email" name="email" placeholder="Email" required>

            <div class="password-wrap">
                <input type="password" name="password" id="loginPass" placeholder="Password" required>
                <span onclick="toggle('loginPass')">👁</span>
            </div>

            <button>Login</button>
        </form>

        <p class="switch">
            New here? <a href="/register">Create account</a>
        </p>
    </div>
</div>

<script>
function toggle(id){
    let i = document.getElementById(id);
    i.type = i.type === "password" ? "text" : "password";
}
</script>

</body>
</html>
