<!DOCTYPE html>
<html>
<head>
    <title>Login - AI Expense Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h2>AI Expense Tracker</h2>

    <form method="post">
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <p style="text-align:center; margin-top:14px;">
        New here?
        <a href="/register">Create Account</a>
    </p>
</div>

</body>
</html>
