<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="muted">Start tracking money</p>

        <form method="post">
            <input name="name" placeholder="Full name" required>
            <input type="email" name="email" placeholder="Email" required>

            <div class="password-wrap">
                <input type="password" name="password" id="regPass" placeholder="Password" required>
                <span onclick="toggle('regPass')">👁</span>
            </div>

            <button>Register</button>
        </form>

        <p class="switch">
            Already have one? <a href="/">Login</a>
        </p>
    </div>
</div>

<script>
function toggle(id){
    let i = document.getElementById(id);
    i.type = i.type === "password" ? "text" : "password";
}
</script>

</body>
</html>
