body {
    background: #0b1220;
    color: white;
    font-family: Arial;
}

.dashboard {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.section {
    background: #111827;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    background: #22c55e;
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

canvas {
    background:#0b1220;
    border-radius:12px;
    padding:10px;
}
