body {
    background:#0b1220;
    color:white;
    font-family:Arial;
    margin:0;
}

.dashboard {
    max-width:900px;
    margin:auto;
    padding:20px;
}

.section {
    background:linear-gradient(180deg,#111827,#0f172a);
    padding:20px;
    margin-bottom:20px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

h2, h3 {
    margin-bottom:10px;
}

/* inputs */
input {
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    border:none;
    background:#020617;
    color:white;
}

button {
    width:100%;
    padding:12px;
    margin-top:12px;
    border:none;
    border-radius:8px;
    background:#22c55e;
    font-weight:bold;
    cursor:pointer;
}

/* stats */
.stats {
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.card {
    flex:1;
    background:#111827;
    padding:15px;
    border-radius:12px;
    text-align:center;
}

.profit {
    color:#22c55e;
}

.loss {
    color:#ef4444;
}

/* table */
table {
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

th {
    background:#22c55e;
    color:black;
    padding:10px;
}

td {
    padding:10px;
    text-align:center;
    border-bottom:1px solid #1f2937;
}

tr:hover {
    background:#0f172a;
}

/* links */
a {
    color:#22c55e;
    text-decoration:none;
}

.center {
    text-align:center;
}
