* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at top, #0f172a, #020617);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}

.dashboard {
    width: 95%;
    max-width: 1000px;
    background: rgba(15,23,42,0.75);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

.section {
    background: #020617;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
    color: #22c55e;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #1f2937;
    background: #020617;
    color: white;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg,#22c55e,#06b6d4);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background: #06b6d4;
    color: black;
}

td, th {
    padding: 10px;
    border: 1px solid #1f2937;
    text-align: center;
}

tr:hover {
    background: #020617;
}

a {
    color: #22c55e;
    text-decoration: none;
}
