* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f172a, #020617);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}

.card, .dashboard {
    background: #111827;
    padding: 28px;
    border-radius: 14px;
    width: 95%;
    max-width: 420px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.dashboard {
    max-width: 950px;
}

h2, h3 {
    text-align: center;
    color: #f9fafb;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #374151;
    background: #020617;
    color: white;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #22c55e;
    box-shadow: 0 0 6px #22c55e;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg,#22c55e,#16a34a);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

a {
    color: #22c55e;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: #020617;
}

th {
    background: #16a34a;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #1f2933;
    text-align: center;
}

.logout {
    text-align: center;
    margin-top: 15px;
}
